In [33]:
import pandas as pd

In [34]:
df=pd.read_json('bizbuysell.list.lines.json',lines=True)

In [35]:
df.shape

(263592, 15)

In [36]:
df.head()

,s_breadcrumbs,s_id,s_name,s_desc,s_url,s_price,s_local,s_region,id,href,title,loc,desc,asking_price,cash_flow
0,"[Businesses For Sale, Travel Businesses For Sa...",1972353,Turnkey Jewelry Store in the Caribbean,"Almost 33 years ago, the founders of The Natur...",/Business-Opportunity/turnkey-jewelry-store-in...,2000000,None,Christiansted,1972353.0,/Business-Opportunity/turnkey-jewelry-store-in...,Turnkey Jewelry Store in the Caribbean,Christiansted,"Almost 33 years ago, the founders of The Natur...","$2,000,000",NaN
1,"[Businesses For Sale, Travel Businesses For Sa...",1815206,Tennessee River Gorge® Mountain Cabins Offers ...,"We are selling 51% ""controlling interest"" of T...",/Business-Opportunity/tennessee-river-gorge-mo...,870000,Whitwell,TN,1815206.0,/Business-Opportunity/tennessee-river-gorge-mo...,Tennessee River Gorge® Mountain Cabins Offers ...,"Whitwell, TN","We are selling 51% ""controlling interest"" of T...","$870,000","Cash Flow: $268,128"
2,"[Businesses For Sale, Travel Businesses For Sa...",2023577,Top-Rated Detroit Tour Company For Sale,This top-rated Detroit tour company offers an ...,/Business-Opportunity/top-rated-detroit-tour-c...,2300000,Detroit,MI,2023577.0,/Business-Opportunity/top-rated-detroit-tour-c...,Top-Rated Detroit Tour Company For Sale,"Detroit, MI",This top-rated Detroit tour company offers an ...,"$2,300,000","Cash Flow: $809,269"
3,"[Businesses For Sale, Travel Businesses For Sa...",2066007,Southern Vermont B&B,Step back in time to the Victorian era in this...,/Business-Opportunity/southern-vermont-bandb/2...,695000,Poultney,VT,2066007.0,/Business-Opportunity/southern-vermont-bandb/2...,Southern Vermont B&B,"Poultney, VT",Step back in time to the Victorian era in this...,"$695,000",NaN
4,"[Businesses For Sale, Travel Businesses For Sa...",27828757,Courtyard Houston Hobby Airport,"84,444 SF Hotel For Sale",/Business-Auction/courtyard-houston-hobby-airp...,2200000,Houston,TX,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df[['s_id']].isna().sum()

s_id    0
dtype: int64

In [38]:
df['auction']=df['s_name'].str.contains('auction',case=False)
df['franchise']=df['s_name'].str.contains('franchise',case=False)
df['lease']=df['s_name'].str.contains('lease',case=False)

In [39]:
df=df.drop_duplicates(subset=['s_id','s_name'])

In [40]:
df.shape

(39233, 18)

In [41]:
df.auction.value_counts()

auction
False    39210
True        23
Name: count, dtype: int64

In [42]:
df.franchise.value_counts()

franchise
False    36845
True      2388
Name: count, dtype: int64

In [43]:
df.lease.value_counts()

lease
False    39002
True       231
Name: count, dtype: int64

In [44]:
df=df[(~df.auction)&(~df.franchise)&(~df.lease)]

In [45]:
df.shape

(36593, 18)

In [46]:
df.s_price.isna().sum()

0

In [47]:
df.loc[0]

s_breadcrumbs    [Businesses For Sale, Travel Businesses For Sa...
s_id                                                       1972353
s_name                      Turnkey Jewelry Store in the Caribbean
s_desc           Almost 33 years ago, the founders of The Natur...
s_url            /Business-Opportunity/turnkey-jewelry-store-in...
s_price                                                    2000000
s_local                                                       None
s_region                                             Christiansted
id                                                       1972353.0
href             /Business-Opportunity/turnkey-jewelry-store-in...
title                       Turnkey Jewelry Store in the Caribbean
loc                                                  Christiansted
desc             Almost 33 years ago, the founders of The Natur...
asking_price                                            $2,000,000
cash_flow                                                      NaN
auction                                                      False
franchise                                                    False
lease                                                        False
Name: 0, dtype: object

In [48]:
df=pd.read_json('bizbuysell.detail.lines.json',lines=True)

In [49]:
df.shape

(38571, 32)

In [50]:
df.head()

,s_breadcrumbs,s_b_desc,s_b_name,s_b_url,s_b_image,s_b_local,s_b_region,s_category,s_desc,s_similar,...,p_details,auction,p_auction_title,p_auction_location_text,p_auction_details_text,p_auction_highlights_text,p_auction_summary_text,p_auction_facts_text,p_auction_facts,p_auction_address_text
0,"[Real Estate For Sale, New Jersey, Marinas and...",It is fully owned by a man and his wife since ...,Popular Marina in Central New Jersey in Middle...,https://www.bizbuysell.com/Business-Real-Estat...,/shared/listings/defaultphotos/standard/sharin...,Middlesex,New Jersey,Marinas and Fishing,It is fully owned by a man and his wife since ...,"[1864705, 2071534, 2057087]",...,"[Location:, Middlesex County, NJ, Type:, Other...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[Real Estate For Sale, New Jersey, Other, Mays...",AMAZING OPPORTUNITY! Priced to sell and ready ...,"High Exposure in Mays Landing, New Jersey - Bi...",https://www.bizbuysell.com/Business-Real-Estat...,https://images.bizbuysell.com/shared/listings/...,Mays Landing,New Jersey,Other,AMAZING OPPORTUNITY! Priced to sell and ready ...,"[2075819, 1864705, 2071534]",...,"[Location:, Mays Landing, NJ, Type:, Office, B...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[Real Estate For Sale, New York, Hotels, Rando...",This is a 6 unit Airbnb with an average occupa...,"Rental Units with Real Estate in Randolph, New...",https://www.bizbuysell.com/Business-Real-Estat...,https://images.bizbuysell.com/shared/listings/...,Randolph,New York,Hotels > Other,This is a 6 unit Airbnb with an average occupa...,"[2059235, 2080381, 2077331]",...,"[Location:, Randolph, NY, Type:, Other Busines...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[Real Estate For Sale, Florida, Other, Pinella...",Rare Largo/Seminole area duplex centrally loca...,"Duplex, Short term or Long term in Pinellas Co...",https://www.bizbuysell.com/Business-Real-Estat...,https://images.bizbuysell.com/shared/listings/...,Pinellas,Florida,Other,Rare Largo/Seminole area duplex centrally loca...,"[2035549, 2067510, 2054271]",...,"[Location:, Pinellas County, FL, Type:, Multi-...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[Real Estate For Sale, Maryland, Bars, Pubs an...",Price reduced to $850. 000 MAKE AN OFFER!!!!!!...,"Major Price Reduction Rest/Tavern/ 13,000sq. f...",https://www.bizbuysell.com/Business-Real-Estat...,/shared/listings/defaultphotos/standard/sharin...,Baltimore,Maryland,"Bars, Pubs and Taverns",Price reduced to $850. 000 MAKE AN OFFER!!!!!!...,"[2082461, 2050777, 2043561]",...,"[Location:, Baltimore, MD, Type:, Retail, Buil...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df[['s_id']].isna().sum()

s_id    134
dtype: int64

In [52]:
df=df.dropna(subset=['s_id'])

In [53]:
df.shape

(38437, 32)

In [54]:
df=df.drop_duplicates(subset=['s_id','s_name'])

In [55]:
df.shape

(38405, 32)

In [56]:
df['auction']=df['s_name'].str.contains('auction',case=False)
df['franchise']=df['s_name'].str.contains('franchise',case=False)
df['lease']=df['s_name'].str.contains('lease',case=False)

In [57]:
df=df[(~df.auction)&(~df.franchise)&(~df.lease)]

In [58]:
df.shape

(35796, 34)

In [59]:
df.head()

,s_breadcrumbs,s_b_desc,s_b_name,s_b_url,s_b_image,s_b_local,s_b_region,s_category,s_desc,s_similar,...,p_auction_title,p_auction_location_text,p_auction_details_text,p_auction_highlights_text,p_auction_summary_text,p_auction_facts_text,p_auction_facts,p_auction_address_text,franchise,lease
0,"[Real Estate For Sale, New Jersey, Marinas and...",It is fully owned by a man and his wife since ...,Popular Marina in Central New Jersey in Middle...,https://www.bizbuysell.com/Business-Real-Estat...,/shared/listings/defaultphotos/standard/sharin...,Middlesex,New Jersey,Marinas and Fishing,It is fully owned by a man and his wife since ...,"[1864705, 2071534, 2057087]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False
1,"[Real Estate For Sale, New Jersey, Other, Mays...",AMAZING OPPORTUNITY! Priced to sell and ready ...,"High Exposure in Mays Landing, New Jersey - Bi...",https://www.bizbuysell.com/Business-Real-Estat...,https://images.bizbuysell.com/shared/listings/...,Mays Landing,New Jersey,Other,AMAZING OPPORTUNITY! Priced to sell and ready ...,"[2075819, 1864705, 2071534]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False
2,"[Real Estate For Sale, New York, Hotels, Rando...",This is a 6 unit Airbnb with an average occupa...,"Rental Units with Real Estate in Randolph, New...",https://www.bizbuysell.com/Business-Real-Estat...,https://images.bizbuysell.com/shared/listings/...,Randolph,New York,Hotels > Other,This is a 6 unit Airbnb with an average occupa...,"[2059235, 2080381, 2077331]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False
3,"[Real Estate For Sale, Florida, Other, Pinella...",Rare Largo/Seminole area duplex centrally loca...,"Duplex, Short term or Long term in Pinellas Co...",https://www.bizbuysell.com/Business-Real-Estat...,https://images.bizbuysell.com/shared/listings/...,Pinellas,Florida,Other,Rare Largo/Seminole area duplex centrally loca...,"[2035549, 2067510, 2054271]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False
4,"[Real Estate For Sale, Maryland, Bars, Pubs an...",Price reduced to $850. 000 MAKE AN OFFER!!!!!!...,"Major Price Reduction Rest/Tavern/ 13,000sq. f...",https://www.bizbuysell.com/Business-Real-Estat...,/shared/listings/defaultphotos/standard/sharin...,Baltimore,Maryland,"Bars, Pubs and Taverns",Price reduced to $850. 000 MAKE AN OFFER!!!!!!...,"[2082461, 2050777, 2043561]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,False

In [60]:
df.iloc[0]

s_breadcrumbs                [Real Estate For Sale, New Jersey, Marinas and...
s_b_desc                     It is fully owned by a man and his wife since ...
s_b_name                     Popular Marina in Central New Jersey in Middle...
s_b_url                      https://www.bizbuysell.com/Business-Real-Estat...
s_b_image                    /shared/listings/defaultphotos/standard/sharin...
s_b_local                                                            Middlesex
s_b_region                                                          New Jersey
s_category                                                 Marinas and Fishing
s_desc                       It is fully owned by a man and his wife since ...
s_similar                                          [1864705, 2071534, 2057087]
s_name                       Popular Marina in Central New Jersey in Middle...
s_id                                                                 2067319.0
s_url                        https://www.bizbuysell.com/Business-Real-Estat...
s_price                                                              2500000.0
s_local                                                              Middlesex
s_region                                                            New Jersey
p_title                                   Popular Marina in Central New Jersey
p_location                                                Middlesex County, NJ
p_financials_text            Asking Price:\n$2,500,000\n                   ...
p_financials                 {'Asking Price': '$2,500,000', 'Gross Revenue'...
p_desc                       It is fully owned by a man and his wife since ...
p_details_text               Location:\nMiddlesex County, NJ\nType:\nOther ...
p_details                    [Location:, Middlesex County, NJ, Type:, Other...
auction                                                                  False
p_auction_title                                                            NaN
p_auction_location_text                                                    NaN
p_auction_details_text                                                     NaN
p_auction_highlights_text                                                  NaN
p_auction_summary_text                                                     NaN
p_auction_facts_text                                                       NaN
p_auction_facts                                                            NaN
p_auction_address_text                                                     NaN
franchise                                                                False
lease                                                                    False
Name: 0, dtype: object