In [93]:
import warnings
warnings.filterwarnings('ignore')

In [94]:
# https://www.ritchieng.com/machine-learning-multinomial-naive-bayes-vectorization/

In [95]:
import pandas as pd

In [96]:
df=pd.read_excel('bizbuysell.single.large.ds.xlsx')

In [97]:
df.head()

,Unnamed: 0,id,src,url,title,desc,local,region,location,title_loc,...,price,franchise,lease,auction,rent,location_2,nationwide,multiple_locations,relocatable,proc_loc
0,0,2067319,details,https://www.bizbuysell.com/Business-Real-Estat...,Popular Marina in Central New Jersey in Middle...,It is fully owned by a man and his wife since ...,Middlesex,New Jersey,"Middlesex County, NJ","Central New Jersey in Middlesex County, New Je...",...,2500000,False,False,False,False,"Middlesex County, NJ",False,False,False,"middlesex county, nj"
1,1,1990890,details,https://www.bizbuysell.com/Business-Real-Estat...,"High Exposure in Mays Landing, New Jersey - Bi...",AMAZING OPPORTUNITY! Priced to sell and ready ...,Mays Landing,New Jersey,"Mays Landing, NJ (Atlantic County)","Mays Landing, New Jersey",...,225000,False,False,False,False,"Mays Landing, NJ (Atlantic County)",False,False,False,"mays landing, nj (atlantic county)"
2,3,2039720,details,https://www.bizbuysell.com/Business-Real-Estat...,"Duplex, Short term or Long term in Pinellas Co...",Rare Largo/Seminole area duplex centrally loca...,Pinellas,Florida,"Pinellas County, FL","Pinellas County, Florida",...,595000,False,False,False,False,"Pinellas County, FL",False,False,False,"pinellas county, fl"
3,4,1576680,details,https://www.bizbuysell.com/Business-Real-Estat...,"Major Price Reduction Rest/Tavern/ 13,000sq. f...",Price reduced to $850. 000 MAKE AN OFFER!!!!!!...,Baltimore,Maryland,"Baltimore, MD (Baltimore City County)","Baltimore, Maryland",...,1050000,False,False,False,False,"Baltimore, MD (Baltimore City County)",False,False,False,"baltimore, md (baltimore city county)"
4,5,2087638,details,https://www.bizbuysell.com/Business-Real-Estat...,"Business & Real Estate in Casco, Michigan - Bi...",• The Business and the Real Estate are For Sal...,Casco,Michigan,"Casco, MI (Saint Clair County)","Casco, Michigan",...,699900,False,False,False,False,"Casco, MI (Saint Clair County)",False,False,False,"casco, mi (saint clair county)"

In [98]:
df=df[:1000]

In [99]:
df.shape

(1000, 24)

In [100]:
df

,Unnamed: 0,id,src,url,title,desc,local,region,location,title_loc,...,price,franchise,lease,auction,rent,location_2,nationwide,multiple_locations,relocatable,proc_loc
0,0,2067319,details,https://www.bizbuysell.com/Business-Real-Estat...,Popular Marina in Central New Jersey in Middle...,It is fully owned by a man and his wife since ...,Middlesex,New Jersey,"Middlesex County, NJ","Central New Jersey in Middlesex County, New Je...",...,2500000,False,False,False,False,"Middlesex County, NJ",False,False,False,"middlesex county, nj"
1,1,1990890,details,https://www.bizbuysell.com/Business-Real-Estat...,"High Exposure in Mays Landing, New Jersey - Bi...",AMAZING OPPORTUNITY! Priced to sell and ready ...,Mays Landing,New Jersey,"Mays Landing, NJ (Atlantic County)","Mays Landing, New Jersey",...,225000,False,False,False,False,"Mays Landing, NJ (Atlantic County)",False,False,False,"mays landing, nj (atlantic county)"
2,3,2039720,details,https://www.bizbuysell.com/Business-Real-Estat...,"Duplex, Short term or Long term in Pinellas Co...",Rare Largo/Seminole area duplex centrally loca...,Pinellas,Florida,"Pinellas County, FL","Pinellas County, Florida",...,595000,False,False,False,False,"Pinellas County, FL",False,False,False,"pinellas county, fl"
3,4,1576680,details,https://www.bizbuysell.com/Business-Real-Estat...,"Major Price Reduction Rest/Tavern/ 13,000sq. f...",Price reduced to $850. 000 MAKE AN OFFER!!!!!!...,Baltimore,Maryland,"Baltimore, MD (Baltimore City County)","Baltimore, Maryland",...,1050000,False,False,False,False,"Baltimore, MD (Baltimore City County)",False,False,False,"baltimore, md (baltimore city county)"
4,5,2087638,details,https://www.bizbuysell.com/Business-Real-Estat...,"Business & Real Estate in Casco, Michigan - Bi...",• The Business and the Real Estate are For Sal...,Casco,Michigan,"Casco, MI (Saint Clair County)","Casco, Michigan",...,699900,False,False,False,False,"Casco, MI (Saint Clair County)",False,False,False,"casco, mi (saint clair county)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1036,1939664,details,https://www.bizbuysell.com/Business-Real-Estat...,Downtown Lexingtion Sc. Commercial Building Si...,Hard to find downtown Lexington 1.5 acre comme...,Lexington,South Carolina,"Lexington, SC (Lexington County)","Lexington, South Carolina",...,350000,False,False,False,False,"Lexington, SC (Lexington County)",False,False,False,"lexington, sc (lexington county)"
996,1037,2077739,details,https://www.bizbuysell.com/Business-Real-Estat...,"2,500SF Commercial Building, Warehouse: Propos...","2,500SF +/- COMMMERCIAL WAREHOUSE $299,000POUG...",Poughkeepsie,New York,"Poughkeepsie, NY (Dutchess County)","Poughkeepsie, New York",...,299000,False,False,False,False,"Poughkeepsie, NY (Dutchess County)",False,False,False,"poughkeepsie, ny (dutchess county)"
997,1038,2047395,details,https://www.bizbuysell.com/Business-Real-Estat...,Ocala Prime Commercial Building in Silver Spri...,"Rapidly Developing, Highly Desirable, Prime Oc...",Silver Springs,Florida,"Silver Springs, FL (Marion County)","Silver Springs, Florida",...,425000,False,False,False,False,"Silver Springs, FL (Marion County)",False,False,False,"silver springs, fl (marion county)"
998,1039,2083749,details,https://www.bizbuysell.com/Business-Real-Estat...,"Restaurant at Syosset Center Mall in Syosset, ...",The restaurant in a very clean and high-income...,Syosset,New York,"Syosset, NY (Nassau County)","Syosset, New York",...,185000,False,False,False,False,"Syosset, NY (Nassau County)",False,False,False,"syosset, ny (nassau county)"
999,1040,2069277,details,https://www.bizbuysell.com/Business-Real-Estat...,"Commercial Real Estate for Sale in Worcester, ...",Prime retail or office space in a condo office...,Worcester,Massachusetts,"Worcester, MA (Worcester County)","Worcester, Massachusetts",...,419000,False,False,False,False,"Worcester, MA (Worcester County)",False,False,False,"worcester, ma (worcester county)"

In [101]:
import numpy as np

In [102]:
df['label_rand'] = np.random.randint(0,2, size=len(df))

In [103]:
df['label_median']=df['price'].apply(lambda p: 1 if p > df['price'].mean() else 0)

In [104]:
df['label_q75']=df['price'].apply(lambda p: 1 if p > df['price'].quantile(.75) else 0)

In [105]:
df=df[['label_rand','label_median','label_q75','desc']]

In [106]:
df

,label_rand,label_median,label_q75,desc
0,0,1,1,It is fully owned by a man and his wife since ...
1,1,0,0,AMAZING OPPORTUNITY! Priced to sell and ready ...
2,1,0,0,Rare Largo/Seminole area duplex centrally loca...
3,0,0,0,Price reduced to $850. 000 MAKE AN OFFER!!!!!!...
4,0,0,0,• The Business and the Real Estate are For Sal...
...,...,...,...,...
995,1,0,0,Hard to find downtown Lexington 1.5 acre comme...
996,1,0,0,"2,500SF +/- COMMMERCIAL WAREHOUSE $299,000POUG..."
997,0,0,0,"Rapidly Developing, Highly Desirable, Prime Oc..."
998,0,0,0,The restaurant in a very clean and high-income...
999,1,0,0,Prime retail or office space in a condo office...

In [107]:
X = df.desc
y = df.label_q75
print(X.shape)
print(y.shape)

(1000,)
(1000,)

In [108]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(750,)
(250,)
(750,)
(250,)

In [109]:
from sklearn.feature_extraction.text import CountVectorizer

In [110]:
# remove English stop words
# include 1-grams and 2-grams
# ignore terms that appear in more than 50% of the documents
# only keep terms that appear in at least 2 documents
vect = CountVectorizer(stop_words='english',ngram_range=(1, 2),max_df=0.5,min_df=20)

In [111]:
X_train_dtm = vect.fit_transform(X_train)

In [112]:
X_train_dtm

<750x8761 sparse matrix of type '<class 'numpy.int64'>'
	with 57502 stored elements in Compressed Sparse Row format>

In [113]:
X_test_dtm = vect.transform(X_test)
X_test_dtm

<250x8761 sparse matrix of type '<class 'numpy.int64'>'
	with 14716 stored elements in Compressed Sparse Row format>

In [114]:
from sklearn.naive_bayes import MultinomialNB

In [115]:
nb = MultinomialNB()

In [116]:
%time nb.fit(X_train_dtm, y_train)

CPU times: user 3.06 ms, sys: 1.67 ms, total: 4.72 ms
Wall time: 3.27 ms

MultinomialNB()

In [117]:
y_pred_class = nb.predict(X_test_dtm)

In [118]:
from sklearn import metrics

In [119]:
metrics.accuracy_score(y_test, y_pred_class)

0.768

In [120]:
# examine class distribution
print(y_test.value_counts())
# there is a majority class of 0 here, hence the classes are skewed

# calculate null accuracy (for multi-class classification problems)
# .head(1) assesses the value 1208
null_accuracy = y_test.value_counts().head(1) / len(y_test)
print('Null accuracy:', null_accuracy)

# Manual calculation of null accuracy by always predicting the majority class
print('Manual null accuracy:',(1208 / (1208 + 185)))

label_q75
0    189
1     61
Name: count, dtype: int64
Null accuracy: label_q75
0    0.756
Name: count, dtype: float64
Manual null accuracy: 0.8671931083991385

In [121]:
# print the confusion matrix
metrics.confusion_matrix(y_test, y_pred_class)

array([[173,  16],
       [ 42,  19]])

In [122]:
# print message text for the false positives (ham incorrectly classified as spam)

X_test[y_pred_class > y_test]

345    3 bedroom home, 1500+ linear feet of reinforce...
600    The Redrock Country Inn consists of 42,689 SF ...
577    Established and operating gas station for sale...
453    Car wash by itself on 0.7 acres of land absent...
148    LAND - BUSINESS - HOMEGreat Package Deal:.2 ac...
457    NO Express wash in sight with great traffic 37...
331    Nice Branded gas station located on a busy roa...
255    Since early 2021, the Vermont innkeeping lands...
654    Self-Serve Car Wash and Laundromat for Sale. L...
950    Liquor store in an extremely good part of Maco...
2      Rare Largo/Seminole area duplex centrally loca...
581    Car wash with 2 self service buildings and a 1...
195    Reduced!!Great opportunity for owner operators...
974                    Detroit High Volume Liquor Store.
892    Retail Building for Sale Details:* This is a r...
250    Thayers Inn Hotel in Littleton NH is for sale ...
Name: desc, dtype: object

In [123]:
# print message text for the false negatives (spam incorrectly classified as ham)

X_test[y_pred_class < y_test]

368    21,000 SQ FT of Great development opportunity ...
647    The Sports Bar has embodied the spirit of the ...
78     Turn Key Business with Fee Simple Real Estate ...
872    Seller provides concrete, paving and trucking ...
94     PRIME PROPERTY! 13,138 Square Foot NW Metro Co...
35     This 24,618+/- building located on Southwester...
395    Luxury Home on 120+/- Acres For Sale$2,500,000...
822    Investment property in the Arbuckle Mountains....
17     This is a large, 15,521 sf, building, sited on...
241    This is a terrific opportunity to purchase a C...
843    La Cucaracha Restaurant business / tenant is i...
573    Located in Southwest Florida, this operation c...
335    An outstanding opportunity to purchase a long ...
267    Ready for new operator!  Recently updated with...
236    This is a wonderful little park that backs up ...
175                                    Gun and Ammo Shop
711    This is an industrial & Commercial parts manuf...
120    In the middle of the Grand River Valley, Ohio ...
311    Located west of the Indianapolis Motor Speedwa...
659    Exclusive Sea Side, Medical, Wellness, Health,...
776    Booming family owned tire facility on 17/92 N ...
358    St Thomas Preservation Hall event venue has be...
769    FAMILY RETREAT-FAMILY COMPOUND-INVESTMENT OPPO...
938    Looking to sell 50 Property Portfolio!100+ doo...
535    Air cooled Porsche Parts and Service center•\t...
509    most of pips are done. you don't have to worry...
8      Over 30 years Community Auto Repair Mechanic s...
56     Gross Monthly Income on average $390,000The sa...
228    DENTAL OFFICE FOR SALE IN SWFL-GENERAL, ENDO, ...
159    This is a Exxon Gas Station and Convenience St...
597    The Company was founded in 1997, and has estab...
484    Founded in 2017 this real-estate opportunity i...
443    Off market 88 rooms Hotel for sell, close ny L...
314    The School was sold to a large Preschool provi...
223    location, Location, LOCATION!!! Well establish...
233               Located near Pro Football Hall of Fame
982    30 Acres immediately at Interstate Exit, with ...
304    This is a Value-Add Opportunity! The property ...
107    New Construction ...27,000 square feet Self St...
474    New construction truck stop and convenience st...
320    SVN Chicago Commercial is pleased to present t...
890    Real estate included: approved site plan for l...
Name: desc, dtype: object

In [124]:
y_pred_prob = nb.predict_proba(X_test_dtm)[:, 1]
# calculate AUC
metrics.roc_auc_score(y_test, y_pred_prob)

0.7052216150576807

# Logistic regression

In [125]:
from sklearn.linear_model import LogisticRegression

In [126]:
logreg = LogisticRegression()

In [127]:
%time logreg.fit(X_train_dtm, y_train)

CPU times: user 67.2 ms, sys: 3.6 ms, total: 70.8 ms
Wall time: 69.2 ms

LogisticRegression()

In [128]:
y_pred_class = logreg.predict(X_test_dtm)

In [129]:
y_pred_prob = logreg.predict_proba(X_test_dtm)[:, 1]
y_pred_prob

array([9.86760325e-01, 4.58050972e-02, 1.14086892e-02, 1.06659319e-02,
       1.82002748e-01, 5.38987759e-02, 2.95901535e-02, 6.99537642e-03,
       7.56544822e-03, 1.52424430e-01, 1.43795118e-01, 7.59031437e-02,
       5.63568587e-01, 6.77702680e-01, 3.75410246e-02, 4.28202829e-03,
       1.67383302e-02, 1.62202093e-05, 6.91885020e-02, 6.90847858e-01,
       3.28753429e-01, 2.04002758e-02, 6.73719950e-04, 1.92978644e-03,
       1.23000687e-02, 4.01888482e-01, 1.57536909e-07, 3.36958452e-01,
       7.20794565e-04, 8.76806681e-01, 2.20194689e-04, 6.16279801e-02,
       2.06239599e-04, 1.19393034e-02, 7.43485655e-01, 8.22793962e-01,
       1.32444811e-01, 2.32285115e-04, 1.61711585e-02, 1.31531643e-02,
       1.89435298e-01, 1.35011839e-01, 1.03765763e-02, 2.62180641e-02,
       3.01135651e-02, 2.33654960e-01, 4.60397372e-03, 6.60473687e-01,
       2.60039777e-01, 1.49258477e-02, 3.45545446e-01, 9.69058526e-01,
       1.27899112e-01, 5.22176682e-02, 1.74880040e-01, 8.12662155e-04,
       2.37115691e-01, 2.72142451e-01, 9.41533136e-03, 5.78591669e-01,
       7.99025102e-01, 9.01572510e-02, 4.13684104e-03, 1.04041927e-01,
       1.46783227e-01, 5.92632413e-07, 8.56596282e-02, 4.63507529e-02,
       3.24606627e-02, 1.19528499e-02, 1.92567232e-01, 3.19522780e-02,
       5.36292582e-01, 9.09184145e-01, 6.42879086e-01, 2.35513449e-03,
       4.32304888e-01, 3.01119088e-09, 5.51287951e-01, 2.48218343e-01,
       1.39981372e-01, 1.18533569e-01, 7.33413686e-03, 1.78405771e-01,
       6.36662778e-03, 2.29410777e-02, 1.98167551e-01, 6.54289130e-01,
       5.45094807e-01, 6.40313240e-01, 1.38209370e-01, 1.88429746e-03,
       5.56201966e-05, 1.29834537e-02, 2.88872537e-03, 5.42252469e-02,
       9.95611013e-01, 5.53834964e-01, 3.98204348e-07, 3.07636634e-01,
       5.13640509e-03, 9.35981586e-01, 8.17905620e-02, 3.23972302e-01,
       5.76710735e-02, 6.90613912e-03, 2.00240623e-01, 1.58548120e-01,
       1.64977457e-01, 3.26867123e-03, 2.35205609e-01, 4.04221221e-02,
       6.78737173e-01, 3.37186457e-02, 3.51672273e-01, 2.76163920e-01,
       1.01556654e-01, 4.48144008e-04, 1.53964561e-02, 1.51281271e-01,
       5.78562497e-01, 6.86612436e-02, 2.10240834e-02, 6.38204761e-02,
       5.13774408e-01, 2.04425900e-04, 1.82328716e-01, 7.97452061e-01,
       1.13957718e-02, 1.27805006e-03, 1.66181819e-01, 3.62787498e-01,
       8.66741122e-01, 8.75050899e-01, 5.23942884e-01, 2.23275009e-01,
       1.11527164e-03, 7.72754989e-01, 7.39332544e-01, 1.04232786e-02,
       3.19480218e-03, 3.78130628e-01, 2.53159664e-01, 6.01018897e-05,
       1.14000571e-02, 2.56735723e-01, 1.95606468e-01, 1.19911316e-04,
       1.80314113e-01, 4.11922135e-03, 1.20727576e-01, 2.65611843e-03,
       7.98750152e-01, 4.54815080e-01, 1.23488259e-01, 2.24269808e-01,
       1.05065433e-03, 1.86297353e-02, 2.41328787e-01, 1.78020671e-02,
       4.98354487e-01, 4.27842859e-02, 3.00097871e-03, 5.05069565e-01,
       3.77640778e-02, 9.98114486e-01, 2.98959009e-01, 4.64706898e-01,
       1.29022446e-01, 1.76429364e-01, 4.26443077e-02, 1.41252995e-02,
       6.08771123e-01, 3.35908606e-01, 5.12290170e-01, 9.23336061e-02,
       3.93984056e-02, 1.83918519e-02, 1.80021359e-05, 2.86803572e-02,
       1.39456607e-01, 3.50997058e-01, 4.41517413e-01, 4.29342093e-01,
       4.48144872e-01, 5.53734288e-02, 1.55072391e-02, 1.12341706e-01,
       6.65928403e-01, 3.06550485e-02, 2.99781889e-02, 3.09680499e-03,
       3.00578285e-01, 7.23832833e-02, 6.05133589e-01, 5.78274710e-01,
       7.43085689e-04, 3.96120448e-03, 5.39837452e-01, 9.64165353e-02,
       5.31425301e-01, 7.03934346e-01, 6.03329358e-02, 3.97443747e-03,
       3.30286714e-03, 4.13388049e-02, 3.44880535e-01, 1.53743947e-01,
       2.90119005e-01, 5.96001966e-03, 9.35486014e-01, 4.26671508e-01,
       9.25498031e-01, 3.17748607e-01, 7.26318842e-02, 4.54623584e-03,
       2.43193238e-03, 1.06464913e-01, 1.03707788e-01, 2.99292613e-01,
       2.72186756e-03, 1.50660170e-02, 7.91433542e-01, 7.30689582e-01,
       6.46185602e-01, 1.57967462e-05, 1.31248195e-01, 7.89446031e-02,
       3.41859119e-01, 1.99493348e-04, 9.19093427e-07, 9.89861494e-01,
       1.06429730e-01, 4.12771227e-02, 7.99684465e-05, 6.40147685e-04,
       3.78827539e-03, 3.07363359e-01, 1.42786126e-01, 2.53790489e-05,
       8.59381614e-01, 7.29296606e-03, 1.34271199e-01, 1.21084535e-01,
       1.86179381e-01, 7.56688685e-02, 7.79960544e-02, 7.37862129e-03,
       3.33471546e-01, 3.65463903e-01])

In [130]:
# calculate accuracy
metrics.accuracy_score(y_test, y_pred_class)

0.748

In [131]:
# calculate AUC
metrics.roc_auc_score(y_test, y_pred_prob)

0.6808916644982219

# Examining model

In [132]:
# store the vocabulary of X_train
X_train_tokens = vect.get_feature_names_out()
len(X_train_tokens)

8761

In [133]:
# examine the first 50 tokens
print(X_train_tokens[0:50])

['00' '00 00' '00 pm' '000' '000 00' '000 000' '000 30' '000 35' '000 65'
 '000 acres' '000 annual' '000 annually' '000 approx' '000 btu'
 '000 building' '000 business' '000 cars' '000 cases' '000 cash' '000 day'
 '000 gallon' '000 gallons' '000 gals' '000 included' '000 includes'
 '000 information' '000 inside' '000 inventory' '000 lbs' '000 lottery'
 '000 million' '000 month' '000 monthly' '000 plus' '000 property'
 '000 real' '000 revenue' '000 room' '000 seller' '000 sf' '000 sq'
 '000 sqft' '000 square' '000 total' '000 turn' '000 vehicles' '000 week'
 '000 year' '000 yearasking' '000 yearly']

In [134]:
# examine the last 50 tokens
print(X_train_tokens[-50:])

['years great' 'years including' 'years independent' 'years later'
 'years left' 'years located' 'years location' 'years new' 'years newly'
 'years old' 'years operating' 'years owner' 'years owners'
 'years property' 'years reach' 'years ready' 'years restaurant'
 'years seller' 'years serving' 'years store' 'years strong'
 'years successful' 'years time' 'yellowstone' 'yellowstone national'
 'yelp' 'yes' 'york' 'york property' 'young' 'youtu' 'youtu nfxu7wrnn0q'
 'youtube' 'yr' 'zero' 'zion' 'zone' 'zoned' 'zoned c1' 'zoned commercial'
 'zoned general' 'zoned location' 'zoned mixed' 'zoned property' 'zones'
 'zoning' 'zoning allows' 'zoning includes' 'zoning property' 'zoo']

In [135]:
nb.feature_count_

array([[24.,  3.,  3., ...,  2.,  2.,  2.],
       [10.,  1.,  1., ...,  0.,  0.,  0.]])

In [136]:
nb.feature_count_.shape

(2, 8761)

In [137]:
# number of times each token appears across all HAM messages
ham_token_count = nb.feature_count_[0, :]
ham_token_count

array([24.,  3.,  3., ...,  2.,  2.,  2.])

In [138]:
# number of times each token appears across all SPAM messages
spam_token_count = nb.feature_count_[1, :]
spam_token_count

array([10.,  1.,  1., ...,  0.,  0.,  0.])

In [139]:
# create a DataFrame of tokens with their separate ham and spam counts
tokens = pd.DataFrame({'token':X_train_tokens, 'ham':ham_token_count, 'spam':spam_token_count}).set_index('token')
tokens.head()

          ham   spam
token
00       24.0   10.0
00 00     3.0    1.0
00 pm     3.0    1.0
000     261.0  168.0
000 00    8.0    4.0

In [140]:
# examine 5 random DataFrame rows
# random_state=6 is a seed for reproducibility
tokens.sample(5, random_state=6)

              ham  spam
token
000 business  5.0   5.0
located main  7.0   0.0
2020 covid    1.0   1.0
bar food      2.0   0.0
boston        1.0   4.0

In [141]:
nb.class_count_

array([561., 189.])

In [142]:
# add 1 to ham and spam counts to avoid dividing by 0
tokens['ham'] = tokens.ham + 1
tokens['spam'] = tokens.spam + 1
tokens.sample(5, random_state=6)

              ham  spam
token
000 business  6.0   6.0
located main  8.0   1.0
2020 covid    2.0   2.0
bar food      3.0   1.0
boston        2.0   5.0

In [143]:
# convert the ham and spam counts into frequencies
tokens['ham'] = tokens.ham / nb.class_count_[0]
tokens['spam'] = tokens.spam / nb.class_count_[1]
tokens.sample(5, random_state=6)

                   ham      spam
token
000 business  0.010695  0.031746
located main  0.014260  0.005291
2020 covid    0.003565  0.010582
bar food      0.005348  0.005291
boston        0.003565  0.026455

In [144]:
# calculate the ratio of spam-to-ham for each token
tokens['spam_ratio'] = tokens.spam / tokens.ham
tokens.sample(5, random_state=6)

                   ham      spam  spam_ratio
token
000 business  0.010695  0.031746    2.968254
located main  0.014260  0.005291    0.371032
2020 covid    0.003565  0.010582    2.968254
bar food      0.005348  0.005291    0.989418
boston        0.003565  0.026455    7.420635

In [145]:
# examine the DataFrame sorted by spam_ratio
tokens.sort_values('spam_ratio', ascending=False)

                         ham      spam  spam_ratio
token
consent             0.001783  0.047619   26.714286
inn suites          0.001783  0.047619   26.714286
pip                 0.001783  0.047619   26.714286
hedgestone          0.001783  0.047619   26.714286
agreement required  0.001783  0.037037   20.777778
...                      ...       ...         ...
table               0.030303  0.005291    0.174603
traffic count       0.033868  0.005291    0.156224
machine             0.033868  0.005291    0.156224
alf                 0.037433  0.005291    0.141345
office space        0.074866  0.005291    0.070673

[8761 rows x 3 columns]