In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import pandas as pd

In [5]:
df_d=pd.read_json('bizbuysell.detail.lines.json',lines=True)

In [6]:
df_l=pd.read_json('bizbuysell.list.lines.json',lines=True)

In [34]:
df=pd.concat([df_d[['s_breadcrumbs']],df_l[['s_breadcrumbs']]])
df=df.dropna()
df=df.explode('s_breadcrumbs')
df['_breadcrumbs']=df['s_breadcrumbs'].apply(lambda x: str(x).lower().strip())
df['breadcrumbs']=df['_breadcrumbs'].apply(lambda x: list(str(x).split(',')))
df=df.explode('breadcrumbs')
df=df.drop_duplicates(subset='breadcrumbs')
df.sort_values('breadcrumbs')

,s_breadcrumbs,_breadcrumbs,breadcrumbs
8044,,,
13483,"Wasilla, AK Accounting Businesses and Tax Prac...","wasilla, ak accounting businesses and tax prac...",ak accounting businesses and tax practices fo...
13228,"Tok, AK Agriculture Businesses For Sale","tok, ak agriculture businesses for sale",ak agriculture businesses for sale
13323,"Lake & Peninsula County, AK All Non-Classifiab...","lake & peninsula county, ak all non-classifiab...",ak all non-classifiable establishments for sale
13250,"Sitka County, AK American Restaurants For Sale","sitka county, ak american restaurants for sale",ak american restaurants for sale
...,...,...,...
29675,Zebulon,zebulon,zebulon
10467,Zephyrhills,zephyrhills,zephyrhills
17482,Zion,zion,zion
26872,Zionsville,zionsville,zionsville
19220,Zumbro Falls,zumbro falls,zumbro falls

In [35]:
df.head()

          s_breadcrumbs          _breadcrumbs           breadcrumbs
0  Real Estate For Sale  real estate for sale  real estate for sale
0            New Jersey            new jersey            new jersey
0   Marinas and Fishing   marinas and fishing   marinas and fishing
0      Middlesex County      middlesex county      middlesex county
1                 Other                 other                 other

In [28]:
#breadcrumbs=df['breadcrumbs'].to_list()

In [30]:
#df['breadcrumbs'].to_pickle('breadcrumbs.pkl')

In [ ]:
#TODO needs work