## Bizbuysell Data Wrangling & Exploration 2

https://www.springboard.com/archeio/download/2c28c1ea344a4f71a7489f3b8ce78755/
https://docs.google.com/document/d/1ySJxTqB79npcJZ2VQSE4PZEydSYYWI5IvNcwrCKpkto/edit

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

### Load dataset

In [3]:
df_in=pd.read_parquet('data/bizbuysell.dataset.1.parquet')

In [4]:
df_in.shape

(302163, 14)

In [5]:
df_in.head()

,id,src,url,title,desc,local,region,location,title_loc,categories,similar,details,financials,price
0,2067319.0,details,https://www.bizbuysell.com/Business-Real-Estat...,Popular Marina in Central New Jersey in Middle...,It is fully owned by a man and his wife since ...,Middlesex,New Jersey,"Middlesex County, NJ","Central New Jersey in Middlesex County, New Je...","[Real Estate For Sale, New Jersey, Marinas and...","[1864705, 2071534, 2057087]","Location:\nMiddlesex County, NJ\nType:\nOther ...","Asking Price:\n$2,500,000\n ...",2500000.0
1,1990890.0,details,https://www.bizbuysell.com/Business-Real-Estat...,"High Exposure in Mays Landing, New Jersey - Bi...",AMAZING OPPORTUNITY! Priced to sell and ready ...,Mays Landing,New Jersey,"Mays Landing, NJ (Atlantic County)","Mays Landing, New Jersey","[Real Estate For Sale, New Jersey, Other, Mays...","[2075819, 1864705, 2071534]","Location:\nMays Landing, NJ\nType:\nOffice\nBu...","Asking Price:\n$225,000\n ...",225000.0
2,2050006.0,details,https://www.bizbuysell.com/Business-Real-Estat...,"Rental Units with Real Estate in Randolph, New...",This is a 6 unit Airbnb with an average occupa...,Randolph,New York,"Randolph, NY (Cattaraugus County)","Randolph, New York","[Real Estate For Sale, New York, Hotels, Rando...","[2059235, 2080381, 2077331]","Location:\nRandolph, NY\nType:\nOther Business...","Asking Price:\n$425,000\n ...",425000.0
3,2039720.0,details,https://www.bizbuysell.com/Business-Real-Estat...,"Duplex, Short term or Long term in Pinellas Co...",Rare Largo/Seminole area duplex centrally loca...,Pinellas,Florida,"Pinellas County, FL","Pinellas County, Florida","[Real Estate For Sale, Florida, Other, Pinella...","[2035549, 2067510, 2054271]","Location:\nPinellas County, FL\nType:\nMulti-F...","Asking Price:\n$595,000\n ...",595000.0
4,1576680.0,details,https://www.bizbuysell.com/Business-Real-Estat...,"Major Price Reduction Rest/Tavern/ 13,000sq. f...",Price reduced to $850. 000 MAKE AN OFFER!!!!!!...,Baltimore,Maryland,"Baltimore, MD (Baltimore City County)","Baltimore, Maryland","[Real Estate For Sale, Maryland, Bars, Pubs an...","[2082461, 2050777, 2043561]","Location:\nBaltimore, MD\nType:\nRetail\nBuild...","Asking Price:\n$1,050,000\n ...",1050000.0

### A: business id, local, region

In [6]:
dfa=df_in[['id','local','region']]
dfa=dfa.dropna()

In [7]:
dfa.shape

(260534, 3)

In [8]:
dfa.head()

          id         local      region
0  2067319.0     Middlesex  New Jersey
1  1990890.0  Mays Landing  New Jersey
2  2050006.0      Randolph    New York
3  2039720.0      Pinellas     Florida
4  1576680.0     Baltimore    Maryland

### B: business id, location

In [9]:
dfb=df_in[['id','location']]
dfb=dfb.dropna()

In [10]:
dfb.shape

(283483, 2)

In [11]:
dfb.head()

          id                               location
0  2067319.0                   Middlesex County, NJ
1  1990890.0     Mays Landing, NJ (Atlantic County)
2  2050006.0      Randolph, NY (Cattaraugus County)
3  2039720.0                    Pinellas County, FL
4  1576680.0  Baltimore, MD (Baltimore City County)

In [12]:
def parse_location(loc):
    a=pd.NA
    b=pd.NA
    c=pd.NA
    d=pd.NA
    loc=loc.replace('(Relocatable)','')
    loc=loc.replace('County','')
    loc= loc.split(',')
    if len(loc)!=2:
        if len(loc)==1 and len(loc[0]):
            a=loc[0].strip()
        return a,b,c,d
    b=loc[0]
    c=loc[1]
    b=b.strip()
    c=c.strip()
    if len(c)==2:
        return a,b,c,d
    d=c[2:]
    d= d.replace('(','')
    d= d.replace(')','')
    d= d.strip()
    c=c[:2]
    return a,b,c,d

In [13]:
dfb['l']=dfb['location'].apply(parse_location)
dfb['a']=dfb['l'].apply(lambda x: x[0])
dfb['b']=dfb['l'].apply(lambda x: x[1])
dfb['c']=dfb['l'].apply(lambda x: x[2])
dfb['d']=dfb['l'].apply(lambda x: x[3])

In [14]:
dfb.shape

(283483, 7)

In [15]:
dfb.head()

,id,location,l,a,b,c,d
0,2067319.0,"Middlesex County, NJ","(<NA>, Middlesex, NJ, <NA>)",<NA>,Middlesex,NJ,<NA>
1,1990890.0,"Mays Landing, NJ (Atlantic County)","(<NA>, Mays Landing, NJ, Atlantic)",<NA>,Mays Landing,NJ,Atlantic
2,2050006.0,"Randolph, NY (Cattaraugus County)","(<NA>, Randolph, NY, Cattaraugus)",<NA>,Randolph,NY,Cattaraugus
3,2039720.0,"Pinellas County, FL","(<NA>, Pinellas, FL, <NA>)",<NA>,Pinellas,FL,<NA>
4,1576680.0,"Baltimore, MD (Baltimore City County)","(<NA>, Baltimore, MD, Baltimore City)",<NA>,Baltimore,MD,Baltimore City

### C: business id, local, 2 letter region from page

In [16]:
dfc=dfb[['id','b','c']]
dfc.columns=['id','local','region2']
dfc=dfc.dropna()

In [17]:
dfc.shape

(258069, 3)

In [18]:
dfc.head()

          id         local region2
0  2067319.0     Middlesex      NJ
1  1990890.0  Mays Landing      NJ
2  2050006.0      Randolph      NY
3  2039720.0      Pinellas      FL
4  1576680.0     Baltimore      MD

### D: business id, local, 2 letter region from page

In [19]:
dfd=dfb[['id','d','c']]
dfd.columns=['id','local','region2']
dfd=dfd.dropna()

In [20]:
dfd.shape

(22892, 3)

In [21]:
dfd.head()

          id           local region2
1  1990890.0        Atlantic      NJ
2  2050006.0     Cattaraugus      NY
4  1576680.0  Baltimore City      MD
5  2087638.0     Saint Clair      MI
7  2051958.0         LeFlore      OK

### Read in detailed location data from national fed codes dataset

In [22]:
df_fc=pd.read_csv('https://geonames.usgs.gov/docs/federalcodes/NationalFedCodes.zip',delimiter='|')

In [23]:
df_fc.shape

(202532, 16)

In [24]:
df_fc.head()

,FEATURE_ID,FEATURE_NAME,FEATURE_CLASS,CENSUS_CODE,CENSUS_CLASS_CODE,GSA_CODE,OPM_CODE,STATE_NUMERIC,STATE_ALPHA,COUNTY_SEQUENCE,COUNTY_NUMERIC,COUNTY_NAME,PRIMARY_LATITUDE,PRIMARY_LONGITUDE,DATE_CREATED,DATE_EDITED
0,479,Adamana,Populated Place,00170,U6,NaN,NaN,4,AZ,1,1,Apache,34.976692,-109.822338,02/08/1980,NaN
1,492,Adobe,Populated Place,00350,U6,NaN,NaN,4,AZ,1,13,Maricopa,33.689205,-112.122653,02/08/1980,NaN
2,511,Agua Fria,Populated Place,00520,U4,NaN,NaN,4,AZ,1,13,Maricopa,33.605595,-112.314604,02/08/1980,NaN
3,516,Aguila,Populated Place,00730,U5,5.0,40005013.0,4,AZ,1,13,Maricopa,33.942807,-113.174081,02/08/1980,01/29/2011
4,538,Ajo,Populated Place,00870,U5,10.0,40010019.0,4,AZ,1,19,Pima,32.371725,-112.860710,02/08/1980,03/21/2008

In [25]:
df_fc.STATE_ALPHA.unique()

array(['AZ', 'CA', 'NV', 'NM', 'UT', 'AR', 'MO', 'OK', 'AL', 'CO', 'CT',
       'DE', 'MD', 'OR', 'FL', 'GA', 'HI', 'ID', 'WY', 'WA', 'IL', 'WI',
       'IN', 'OH', 'IA', 'KS', 'NE', 'KY', 'TN', 'DC', 'LA', 'TX', 'ME',
       'NH', 'MA', 'RI', 'MI', 'MN', 'SD', 'MS', 'MT', 'NJ', 'NY', 'NC',
       'SC', 'ND', 'PA', 'VA', 'AS', 'GU', 'MP', 'FM', 'PW', 'AK', 'VT',
       'WV', 'PR', 'VI'], dtype=object)

In [26]:
df_states=pd.read_csv('data/states.csv')
df_states.columns=['STATE_ALPHA','STATE_NAME']
df_states.head()

  STATE_ALPHA  STATE_NAME
0          AK      Alaska
1          AZ     Arizona
2          AR    Arkansas
3          CA  California
4          CO    Colorado

In [27]:
df_fc=df_fc.merge(df_states, how='left', on=['STATE_ALPHA'])

In [28]:
# set feature as local
df_fca=df_fc[df_fc.FEATURE_CLASS.isin(['Populated Place','Locale','Census','Military'])]
df_fca=df_fca[['FEATURE_ID','FEATURE_NAME','STATE_NAME','STATE_ALPHA']]
df_fca.columns=['FEATURE_ID','local','region','region2']
df_fca.drop_duplicates(subset=['local','region2'], keep='first') 

# set county as local
df_fcb=df_fc[df_fc.CENSUS_CLASS_CODE=='H1'] #County or Equivalent Feature
df_fcb=df_fcb[['FEATURE_ID','COUNTY_NAME','STATE_NAME','STATE_ALPHA']]
df_fcb.columns=['FEATURE_ID','local','region','region2']
df_fcb.drop_duplicates(subset=['local','region2'], keep='first') 

df_fcab=pd.concat([df_fca, df_fcb])
df_fcab=df_fcab.dropna()

In [29]:
df_fcab.shape

(137259, 4)

In [30]:
df_fcab.head()

   FEATURE_ID      local   region region2
0         479    Adamana  Arizona      AZ
1         492      Adobe  Arizona      AZ
2         511  Agua Fria  Arizona      AZ
3         516     Aguila  Arizona      AZ
4         538        Ajo  Arizona      AZ

### E Merge dfa & df_fcab

In [31]:
dfe=dfa.merge(df_fcab, how='left', on=['local','region'])
dfe=dfe.dropna()

In [32]:
dfe.shape

(49087, 5)

In [33]:
dfe.head()

          id         local      region  FEATURE_ID region2
0  2067319.0     Middlesex  New Jersey    878315.0      NJ
1  2067319.0     Middlesex  New Jersey    882230.0      NJ
2  1990890.0  Mays Landing  New Jersey    878206.0      NJ
3  2050006.0      Randolph    New York    962181.0      NY
4  2039720.0      Pinellas     Florida    295745.0      FL

### F Merge dfc,dfd & df_fcab

In [34]:
dff=pd.concat([dfc, dfd])
dff=dff.merge(df_fcab, how='left', on=['local','region2'])
dff=dff.dropna()

In [35]:
dff.shape

(396666, 5)

In [36]:
dff.head()

          id         local region2  FEATURE_ID      region
0  2067319.0     Middlesex      NJ    878315.0  New Jersey
1  2067319.0     Middlesex      NJ    882230.0  New Jersey
2  1990890.0  Mays Landing      NJ    878206.0  New Jersey
3  2050006.0      Randolph      NY    962181.0    New York
4  2039720.0      Pinellas      FL    295745.0     Florida

### G Merge dfe & dfc and drop duplicates

In [37]:
dfg=pd.concat([dfe,dff])
dfg=dfg.drop_duplicates('id')
dfg=dfg[['id','FEATURE_ID']]

In [38]:
dfg.shape

(33774, 2)

In [39]:
dfg.head()

          id  FEATURE_ID
0  2067319.0    878315.0
2  1990890.0    878206.0
3  2050006.0    962181.0
4  2039720.0    295745.0
5  1576680.0    597040.0

In [40]:
dfg=dfg.merge(df_fc, how='left',on=['FEATURE_ID'])
dfg=dfg.drop_duplicates('id')

In [41]:
dfg.shape

(33774, 18)

In [42]:

dfg.head()

,id,FEATURE_ID,FEATURE_NAME,FEATURE_CLASS,CENSUS_CODE,CENSUS_CLASS_CODE,GSA_CODE,OPM_CODE,STATE_NUMERIC,STATE_ALPHA,COUNTY_SEQUENCE,COUNTY_NUMERIC,COUNTY_NAME,PRIMARY_LATITUDE,PRIMARY_LONGITUDE,DATE_CREATED,DATE_EDITED,STATE_NAME
0,2067319.0,878315.0,Middlesex,Populated Place,45900,P1,1920.0,341920023.0,34,NJ,1,23,Middlesex,40.572603,-74.492654,09/08/1979,03/17/2008,New Jersey
1,1990890.0,878206.0,Mays Landing,Populated Place,44820,U5,1850.0,341850001.0,34,NJ,1,1,Atlantic,39.452339,-74.727663,09/08/1979,12/06/2013,New Jersey
2,2050006.0,962181.0,Randolph,Populated Place,60576,U5,5080.0,365080009.0,36,NY,1,9,Cattaraugus,42.162005,-78.975317,01/23/1980,11/08/2019,New York
3,2039720.0,295745.0,Pinellas County,Civil,99103,H1,NaN,NaN,12,FL,1,103,Pinellas,27.905111,-82.799568,08/28/1987,06/04/2021,Florida
4,1576680.0,597040.0,Baltimore,Populated Place,04000,P1,50.0,240050510.0,24,MD,1,510,Baltimore (city),39.290385,-76.612189,09/12/1979,03/17/2008,Maryland

### Merge dataset with location info

In [43]:
df_out=df_in.merge(dfg,how='left', on=['id'])

In [44]:
df_out.shape

(302163, 31)

In [45]:
df_out.columns

Index(['id', 'src', 'url', 'title', 'desc', 'local', 'region', 'location',
       'title_loc', 'categories', 'similar', 'details', 'financials', 'price',
       'FEATURE_ID', 'FEATURE_NAME', 'FEATURE_CLASS', 'CENSUS_CODE',
       'CENSUS_CLASS_CODE', 'GSA_CODE', 'OPM_CODE', 'STATE_NUMERIC',
       'STATE_ALPHA', 'COUNTY_SEQUENCE', 'COUNTY_NUMERIC', 'COUNTY_NAME',
       'PRIMARY_LATITUDE', 'PRIMARY_LONGITUDE', 'DATE_CREATED', 'DATE_EDITED',
       'STATE_NAME'],
      dtype='object')

In [46]:
df_out.head()

,id,src,url,title,desc,local,region,location,title_loc,categories,...,STATE_NUMERIC,STATE_ALPHA,COUNTY_SEQUENCE,COUNTY_NUMERIC,COUNTY_NAME,PRIMARY_LATITUDE,PRIMARY_LONGITUDE,DATE_CREATED,DATE_EDITED,STATE_NAME
0,2067319.0,details,https://www.bizbuysell.com/Business-Real-Estat...,Popular Marina in Central New Jersey in Middle...,It is fully owned by a man and his wife since ...,Middlesex,New Jersey,"Middlesex County, NJ","Central New Jersey in Middlesex County, New Je...","[Real Estate For Sale, New Jersey, Marinas and...",...,34.0,NJ,1.0,23.0,Middlesex,40.572603,-74.492654,09/08/1979,03/17/2008,New Jersey
1,1990890.0,details,https://www.bizbuysell.com/Business-Real-Estat...,"High Exposure in Mays Landing, New Jersey - Bi...",AMAZING OPPORTUNITY! Priced to sell and ready ...,Mays Landing,New Jersey,"Mays Landing, NJ (Atlantic County)","Mays Landing, New Jersey","[Real Estate For Sale, New Jersey, Other, Mays...",...,34.0,NJ,1.0,1.0,Atlantic,39.452339,-74.727663,09/08/1979,12/06/2013,New Jersey
2,2050006.0,details,https://www.bizbuysell.com/Business-Real-Estat...,"Rental Units with Real Estate in Randolph, New...",This is a 6 unit Airbnb with an average occupa...,Randolph,New York,"Randolph, NY (Cattaraugus County)","Randolph, New York","[Real Estate For Sale, New York, Hotels, Rando...",...,36.0,NY,1.0,9.0,Cattaraugus,42.162005,-78.975317,01/23/1980,11/08/2019,New York
3,2039720.0,details,https://www.bizbuysell.com/Business-Real-Estat...,"Duplex, Short term or Long term in Pinellas Co...",Rare Largo/Seminole area duplex centrally loca...,Pinellas,Florida,"Pinellas County, FL","Pinellas County, Florida","[Real Estate For Sale, Florida, Other, Pinella...",...,12.0,FL,1.0,103.0,Pinellas,27.905111,-82.799568,08/28/1987,06/04/2021,Florida
4,1576680.0,details,https://www.bizbuysell.com/Business-Real-Estat...,"Major Price Reduction Rest/Tavern/ 13,000sq. f...",Price reduced to $850. 000 MAKE AN OFFER!!!!!!...,Baltimore,Maryland,"Baltimore, MD (Baltimore City County)","Baltimore, Maryland","[Real Estate For Sale, Maryland, Bars, Pubs an...",...,24.0,MD,1.0,510.0,Baltimore (city),39.290385,-76.612189,09/12/1979,03/17/2008,Maryland

In [47]:
assert df_in.shape[0]==df_out.shape[0]

### Drop rows without a location

In [48]:
df_out=df_out.dropna(subset=['FEATURE_ID'])
df_out.shape

(252852, 31)

### Save processed data to parquet file

In [49]:
df_out.to_parquet('data/bizbuysell.dataset.2.parquet')