# Classification of bizbuysell data

### With HStack

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import joblib
import seaborn as sns
import pickle

In [3]:
#import resource

In [4]:
#dir(resource)

### Load labeled bizbuysell dataset

In [5]:
df_in=pd.read_parquet('data/bizwiz_value_score.parquet')

In [6]:
df_in.head()

,id,pptitle,ppdesc,ppdetails,pcategories,COUNTY_NAME,STATE_NAME,price,cash_flow,bizwiz_value_score,bizwiz_class,bizwiz_label,label_num,label
1,1990890.0,high exposur may land new jersey,amaz opportun price sell readi busi locat hear...,locat may land nj type offic build statu estab...,"[real_estate_for_sale, new_jersey, other, mays...",Atlantic,New Jersey,225000.0,NaN,4.062859,3,high,2,high
3,2039720.0,duplex short term long term pinella counti flo...,rare largo seminol area duplex central locat p...,locat pinella counti fl type multi famili buil...,"[real_estate_for_sale, florida, other, pinella...",Pinellas,Florida,595000.0,NaN,3.464210,2,medium,1,low
4,1576680.0,major price reduct rest tavern 13 000sq ft bui...,price reduc 850 000 make offer current owner w...,locat baltimor md type retail build sf 13 000 ...,"[real_estate_for_sale, maryland, bars,_pubs_an...",Baltimore (city),Maryland,1050000.0,NaN,2.505054,1,low,1,low
5,2087638.0,busi real estat casco michigan,• busi real estat sale • liquor shopp first fl...,locat casco mi type multi famili build sf 5 21...,"[real_estate_for_sale, michigan, convenience_s...",St. Clair,Michigan,699900.0,NaN,2.973314,1,low,1,low
7,2051958.0,turnkey restaur near lake wister state park hi...,commerci real estat sale welcom 409 us highway...,locat wister ok type busi real estat build sta...,"[real_estate_for_sale, oklahoma, diners, wister]",Le Flore,Oklahoma,236000.0,NaN,3.712142,2,medium,1,low

### Create datasets

In [7]:
#dfa=df_in

In [8]:
#dfa.info()

In [9]:
dfb=df_in.dropna()

In [10]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15856 entries, 1427 to 208608
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  15856 non-null  float64
 1   pptitle             15856 non-null  object
 2   ppdesc              15856 non-null  object
 3   ppdetails           15856 non-null  object
 4   pcategories         15856 non-null  object
 5   COUNTY_NAME         15856 non-null  object
 6   STATE_NAME          15856 non-null  object
 7   price               15856 non-null  float64
 8   cash_flow           15856 non-null  float64
 9   bizwiz_value_score  15856 non-null  float64
 10  bizwiz_class        15856 non-null  int64
 11  bizwiz_label        15856 non-null  object
 12  label_num           15856 non-null  int64
 13  label               15856 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 1.8+ MB

### vectorize text

In [11]:
#vect_text_A=TfidfVectorizer(stop_words='english',ngram_range=(1, 2),max_df=0.5,min_df=2)

In [12]:
#%time XA_text = vect_text_A.fit_transform(dfa.pptitle + ' ' + dfa.ppdesc + ' ' + dfa.ppdetails).toarray()

In [13]:
#XA_text.shape

In [14]:
vect_text_B=TfidfVectorizer(stop_words='english',ngram_range=(1, 2),max_df=0.5,min_df=2)

In [15]:
%time XB_text = vect_text_B.fit_transform(dfb.pptitle + ' ' + dfb.ppdesc + ' ' + dfb.ppdetails).toarray()

CPU times: user 20.2 s, sys: 6.62 s, total: 26.8 s
Wall time: 26.8 s

In [16]:
XB_text.shape

(15856, 200920)

### vectorize categories

In [17]:
#vect_cat_A = MultiLabelBinarizer()

In [18]:
#%time XA_cat =vect_cat_A.fit_transform(dfa['pcategories'])

In [19]:
#XA_cat.shape

In [20]:
vect_cat_B = MultiLabelBinarizer()

In [21]:
%time XB_cat =vect_cat_B.fit_transform(dfb['pcategories'])

CPU times: user 1.03 s, sys: 279 ms, total: 1.31 s
Wall time: 1.31 s

In [22]:
XB_cat.shape

(15856, 3160)

### vectorize cash_flow

In [23]:
XB_cf=dfb['cash_flow'].to_numpy().reshape((dfb.shape[0],1))

In [24]:
XB_cf.shape

(15856, 1)

### hstack vectors

In [25]:
#%time XA=np.hstack((XA_text,XA_cat))

In [26]:
#XA.shape

In [ ]:
%time XB=np.hstack((XB_text,XB_cat,XB_cf))

In [ ]:
XB.shape